{% extends "base.html" %}

{% block content %}
    <h1>Геометрия</h1>
    <h2>Фигуры</h2>
    <h2>Треугольник</h2>
    <h6> Площадь по основанию и высоте \(S = \frac{a*h}{2}\)</h6>
    <h6> Площадь по двум сторонам и углу между углами \(S = \frac{ab*\sin(a)}{2}\)</h6>
    <h6> Площадь прямоугольного треугольника по катетам \(S =  \frac{ab}{2}\)</h6>
    <h6> Площадь прямоугольного треугольника по трем сторонам \(S= \sqrt{p(p-a)(p-b)(p-c)}\), где \(p = \frac{a+b+c}{2}\)</h6>
    <h6> Площадь равностороннего треугольника  \(S = \frac{a^2 \sqrt{3}}{4}\)</h6>
    <h2>Параллелограмм</h2>
    <h6> Площадь по основанию и высоте \(S = a * h\)</h6>
    <h6> Площадь по двум сторонам и углу между углами \(S = ab*\sin(a)\)</h6>
    <h6> Площадь по диагоналям\(S = \frac{mn*\sin(a)}{2}\) </h6>
    <h2>Квадрат</h2>
    <h6> Площадь \(S = a^2\) </h6>
    <h2>Прямоугольник</h2>
    <h6>Площадь \(S = a * b\)</h6>
    <h2>Ромб</h2>
    <h6> Площадь по диагоналям \(S =  \frac{mn}{2}\) </h6>
    <h2>Трапеция</h2>
    <h6> Площадь \(S = \frac{a+b}{2h}\) </h6>
    <h2>Правильный шестиугольник</h2>
    <h6> Площадь \(S = \frac{3a^2 \sqrt{3}}{2}\) </h6>
    <h2>Круг</h2>
    <h6> Площадь  \(S= πR^2\) </h6>
    <h6> Длина окружности \(C=2πR\), \(C= πd\)  </h6>
    <h6> Радиус окружности описанной около треугольника \(R = \frac{abc}{4S}\) </h6>
    <h6> Радиус вписанной окружности \(r = \frac{2S}{a+b+c}\) </h6>
    <h2>Тригонометрия</h2>
    <h2>Основные тождества</h2>
    <h6> \(\sin^2(a) + \cos^2(a) = 1\)</h6>
    <h6> \(tg(a)= \frac{\sin(a)}{\cos(a)}\) </h6>
    <h2>Теорема синусов</h2>
    <h6> \(\frac{a}{\sin(a)} =  \frac{b}{\sin(b)} =  \frac{c}{\sin(c)} =2R\)</h6>
    <h2>Теорема косинусов</h2>
    <h6> \(a^2= b^2+ c^2-2bc \times \cos(a)\)</h6>
    <h6> \(b^2= a^2+ c^2-2ac \times \cos(b)\)</h6>
    <h6> \(c^2= b^2+ a^2-2ba \times \cos(y)\)</h6>

{% endblock %}