{% extends "base.html" %}
mainPage = True
{% block content %}
<h1>Физика</h1>
<h6>Скорость \(ϑ = \frac{S}{t}\) </h6>
<h6>Пройденный путь \(S = ϑt\)</h6>
<h6>Время \(t = \frac{s}{ϑ}\)</h6>
<h6>Плотность \(ρ = \frac{m}{V}\)</h6>
<h6>Масса \(m = ρV\)</h6>
<h6>Объем \(V = \frac{m}{ρ}\)</h6>
<h6>Вес \(P = mg\)</h6>
<h6>Работа, механическая \(A = FS\)</h6>
<h6>Мощность \(N = \frac{A}{t}\)</h6>
<h6>Условие равновесия рычага \(\frac{F_1}{F_2} = \frac{l_1}{l_2}\) </h6>
<h6>Момент силы \(M = Fl\)</h6>
<h6>\(T = 2π\sqrt{\frac{l}{g}}\)</h6>
<h6>Условие равновесия рычага \(M_1 = M_2\)</h6>
<h2>Силы</h2>
<h6>Сила тяжести \(F_т=mg\) </h6>
<h6>Сила упругости \(F_упр=kΔl\)</h6>
<h6>Сила трения \(F_тр= μN\)</h6>
<h6>Сила Архимеда \(F_A= ρgV_т\)</h6>
<h2>Давление</h2>
<h6>Давление \(p = \frac{F}{S}\)</h6>
<h6>Давление жидкости \(p_ж= gh\)</h6>
<h2>Энергии</h2>
<h6>Кинетическая энергия \(E_к = \frac{mϑ^2}{2}\)</h6>
<h6>Потенциальная энергия \(E_p = mgh\)</h6>
<h6>Потенциальная энергия \(E_p = \frac{kx^2}{2}\)</h6>
<h2>Тепловые Явления</h2>
<h6>Нагревание тела \(Q = cm(t_1- t_2) = cmΔt\)</h6>
<h6>Сгорание тела \(Q = qm\)</h6>
<h6>Плавление тела \(Q = λm\)</h6>
<h6>Парообразование \(Q  = Lm\)</h6>
<h2>Электричество</h2>
<h6>Сила тока \(I = \frac{q}{t}\)</h6>
<h6>Напряжение \(U=  \frac{A}{|q|}\) </h6>
<h6>Сопротивление \(R = ρ \times \frac{l}{S}\)</h6>
<h6>Закон Ома \(I = \frac{U}{R}\)</h6>
<h6>КПД \(η = \frac{А_п}{А_з} \times 100%\)</h6>
<h6>Работа \(A = UIt\)</h6>
<h6>Мощность \(P = IU = \frac{U^2}{R} = I^2\)</h6>
<h4>Последовательное соединение</h4>
<h6>\(I_1 = I_2 = I_3\)</h6>
<h6>\(R = R_1 + R_2\)</h6>
<h6>\(U= U_1 + U_2\)</h6>
<h4>Параллельное соединение</h4>
<h6>\(U_1 = U_2 = U_3\)</h6>
<h6>\(I = I_1 + I_2\)</h6>
<h6>\(\frac{1}{R} =  \frac{1}{R_1} + \frac{1}{R_2}\) </h6>
<h2>Передвижение</h2>
<h6>\(x = x_0  + S_x\)</h6>
<h6>\(S_x  = x - x_0\)</h6>
<h6>\(a =  \frac{ϑ - ϑ_0}{t}\)</h6>
<h6>\(S_x  = ϑ_0x t  +  \frac{a_x t^2}{2}\)</h6>
<h6>\(S_x   =  \frac{ϑ_x^2  - ϑ_0x^2}{2a_x }\)</h6>
<h6>\(S_x  = \frac{ϑ_x  - ϑ_0x}{2 t}\) </h6>
{% endblock %}